<!-- extend from base layout -->
<!-- Website About page -->
{% extends "base.html" %}

{% block content %}
<h1>About IMDB-Movie-Search</h1>
<br>
<p> This is a website created by Shlomo Oved. It uses the Python Beautiful-Soup module to search for data of movies off of the Internet Movie Database (IMDb) and returns it here. This webpage was designed and created using flask.
</p>
<br>
<p>
    For more of my work check out my github
</p>

<p>
Github: <b>www.github.com/shlomioved1234</b>
</p>

{% endblock %}
