<!-- extend from base layout -->
<!-- Search Page with search bar -->
{% extends "base.html" %}

{% block content %}
<h1>Search</h1>
<form action="" method="POST" name="search">
    {{ form.hidden_tag() }}
    <p>
    Please enter your Movie Title:<br>
    <input type="text" name="search" placeholder="Enter Movie Name..">
    <p><input type="submit" value="Submit"></p>
        </form>
    <br>
    <br>
    <img src="https://i.pinimg.com/originals/f5/79/d5/f579d531390fa2989754a1094071dbc3.jpg" style="width:300px;height:300px">
{% endblock %}
